@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Roblox Black Outline';
    src: url(../fonts/Roblox\ Black\ Outline.otf) format('OpenType');
    font-style: normal;
    font-weight: normal ;
}
@font-face {
    font-family: 'Retrocycle';
   src: url(../fonts/Retrocycles.otf) format('OpenType');
    font-style: normal;
    font-weight: normal;
  }

.banner{
    width: 100%; 
    min-height: 100vh;
    margin-top: 0% ;
    z-index: 1;
	background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Fondo-azul.jpg);
    background-attachment: fixed;
}

.banner-content{
    margin: 0;
    top:0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content img{
    margin-top: 5%;
}
.banner-content h1{
    font-family: 'Roblox Black Outline';
    color: #070336d7;
    font-size: 16vh;
    letter-spacing: 10px;
    text-align: center;
    -webkit-text-stroke:1px white;
}
.banner-content a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
}
.banner-content a:hover{
    background-color: #fff;
    transition: 0.5s all ease-in-out;
}



@media screen and (max-width:500px) {
    .banner-content h1:first-child{
        font-size: 12vh;
      
    }
    #text{
        font-size: 20px;
    }
    .banner-content img{
        margin-top: 5%;
        width: 100%;
        min-width: 220px;
    }
}


.caja{
    display: flex;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: -60px;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 50px;
}
.caja div{
   height: 150px;
    width: 150px;
    cursor: pointer;
    z-index: 2;
    background-color: white;
    padding: 5px;
    
}
@media screen and (max-width:400px) {
    .caja{
        height: 100%;
    }
    .caja div{
        height: 200px;
    width: 200px;
        padding: 30px;
    }
}
.caja div{
        transition: transform .2s; 
    }
     
    .caja div:hover {
        transform: scale(1.5);
        color: white;
        background-color: #0D252E;
        z-index: 4; 
    }

    .caja div:hover i{
        color: white;
    }
.caja div i{
    font-size: 50px;
}

.caja div p{
    font-size: 15px;
}
.caja div h4{
    font-size: 20px;
}
#principal{
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: #000642;
    color: #fff;
    justify-content: center;
    text-align: justify;
    padding: 5%;
}
#principal .col{
    min-width: 320px;
}
#principal h1{
    text-align: center;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #ffc600;
}

#principal h2{
    margin-top: 5%;
    line-height: normal;
}
#espacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 100%;
}
#espacio p{
    text-align: justify;
}
#espacio h1{
    text-align: center;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #000642;
}

#historiaCrea{
    width: 100%;
    height: 100%;
}

#historiaCrea1{
   height: 350px;
}
#bloques{
    display: flex;
}
#contenedor2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #000642;
    align-items: center;
}
#principal .col{
    min-width: 320px;
    align-items: center;
    justify-content: center;
}
#principal .col2{
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor2 h1{
        text-align: center;
        padding: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        margin-top: 5%;
        color: #bead11;
}

/*CARRUSEL*/
.carousel-inner{
    min-width: 325px;
    min-height: 300px;
    padding-bottom: 10px;
}
.carousel-inner img{
    max-width: 325px;
    width: 100%;
    height: 500px;
    min-height: 300px;
}

/*Cards*/
#cards-contenedor{
    background-color: #fff;
    height: 100%;
    margin-top: 15px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.titulo-card{
    text-align: justify;
    margin: 15px;
}
#cards a{
    text-decoration: none;
	color: black;
	padding: 9px 20px;
    border: 1px solid black;
    font-family: sans-serif;
	text-transform: uppercase;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    border-radius: 100px;
}
#cards a:hover{
    color: #fff;
    background-color: #090940;
    border: 1px solid white
}
.card-texto{
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    transition: all 0.25s;
    justify-content: center;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 100%;
    height: 220px;
}


.card h4{
    font-weight: 600;
}

.card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

#cards .card a {
    font-weight: 500;
    text-decoration: none;
    color: #0D252E;
    width: 150px;
    margin:auto;
}
#cards .card a:hover{
    color: white;
}


 /*Video*/
 #video-contenedor{
     min-height: 700px;
     background-color: #fff;
    
 }
 .video{
     margin: auto;
     background-color: #fff;
     justify-content: space-evenly;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     align-self: center;
     flex-direction: column;
 }
 .video{
     min-width: 220px;
 }
 .video h1{
    text-align: center;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #090940;
    margin-top: 5%;
 }
 @media screen and (max-width: 500px) {
    .video iframe{
        width: 300px;
    }
 }
/* footer */
@font-face {
    font-family: cocon;
    src: url(../css/Cocon-Regular-Font.otf);
    }
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "cocon";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;
    color: #fff;
    font-weight: 200;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
